/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 /**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.course-list-block {
    margin: 0 auto;
    max-width: 1200px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.course-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.course-card__header {
    position: relative;
    height: 150px;
    background: lightgrey;
}

.course-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;

}

.course-card__title {
    font-size: 1.2em;
    margin: 0!important;
    
}

.course-card__content {
    padding: 20px;
   
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-card__footer {
    height: 75px;
    position: relative;
    display: flex;
    padding: 20px;

    div {
    width: 50%;
    margin: auto;

    p {
        text-align: center;
    }
}
}

.course-card__footer .dashicons {
    vertical-align: middle;
    margin-right: 5px;
}

// .course-card__footer > div:first-child {
//    padding-right: 10px;
// }
// .course-card__footer > div:last-child {
//     padding-left: 10px;
// }
.course-card__footer::before {
    content:'';
    height: 1px;
    width: 90%;
    background: #c4c4c4;
    position: absolute;
    top: 0;
    left: 5%;
}

.course-card__progress {
    margin: 10px 0;
}

.course-card__enrollment-date,
.course-card__lessons {
    margin: 10px 0;
    font-size: .6em;
}

.progress-bar-container {
    display: flex;
    align-items: center;
}
.progress-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-bar__inner {
    height: 20px;
    background-color: #4caf50;
    width: 0; /* This will be dynamically set */
    transition: width 0.4s ease;
}

.progress-bar__percentage {
    min-width: 40px;
    font-size: 14px;
    margin-top: -25px;
    margin: 5px;
    font-weight: bold;
    color: #4caf50;
}
